{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/index.css' %}">
    <link rel="stylesheet" href=" {% static 'css/post.css' %}">
    
    
    <title>Margatsni</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <div class="image-section">
            <img src="{% static 'images/site.jpg' %}" alt="">
        </div>
    </div>
    <div class="vote-section">
        <div class="overall-score-section mb-5">
            <span class="title">Overall Score</span>
            <div class="overall-score">
                {{ rating }}%
            </div>
        </div>
        <form action="/vote/{{post.id}}/" method="POST">
            {% csrf_token %}
            <div class="section-one">
                <span class="title">Design</span>
                <div class="vote-div">
                    <input type="number" name="design" id="number" class="form-control vote-input">/10
                </div>
            </div>  
            <div class="section-two">
                <span class="title">Usability</span>
                <div class="vote-div">
                    <input type="number" name="usability" id="number" class="form-control vote-input"><label for="design">/10</label>
                </div>
            </div>
            <div class="section-three">
                <span class="title">Content</span>
                <div class="vote-div">
                    <input type="number" name="content" id="number" class="form-control vote-input">/10
                </div>
            </div>
            
            <div class="mt-4">   
                <button class="btn btn-primary" type="submit">Vote</button>
            </div>
            
        </form>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

{% block scripts %}
    
    {% endblock %}
</html>

