.nav{
    z-index: 500;
    margin-top: 0px;
    height: 58px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100000;
    
}
.nav-img img{
    width: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-img{
    position: fixed;
    z-index: 1000;
    justify-content: right;
   
}
.right{
    display: none;
}
.image img{
    width: 50%;
}

.up-tad{
    margin-top: -5px;
}

@media screen and (min-width: 600px){
    .right{
        display: block;
    }
    .right{
        position: fixed;
        right: 50px;
        top: 18px;
        font-size: 18px;
    }
    .action{
        padding: 10px;
        margin-right: 15px;
        cursor: pointer;
        
    }
    .submission{
        background-color: #00B0FF;
        color: white;
    }
    .action:hover{
        background-color: #46A7FF;
        color: white;
    }
    .submission:hover{
        background-color: #46A7FF;
    }
    .nav-img img{
        width: 125px;
    }

    .nav-right{
        width: 65%;
    }
    .prof{
        cursor: pointer;
    }
}